@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Irish Grover', sans-serif;
    font-size: 22px;
}

.math-game-bg {
    background-color: #100958;
    opacity: 90%;
}

table {
    width: 100%;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tbody {
    display: block;
    overflow-y: auto;
    table-layout: fixed;
    max-height: 600px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

tbody::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

body{
    background-image: url("../asset/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

